<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAf4r9eGvTyUX98iF6jLso3uJND9Hq7T_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>246290748101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ntou.final-project</string>
	<key>PROJECT_ID</key>
	<string>final-project-e4406</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-e4406.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246290748101:ios:a583d5ccfceac4192356ac</string>
</dict>
</plist>